/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Set/override container images (by label for local modules, by name for nf-core modules)
    withLabel: image_crispr_pooled_screen {
        container = "artifacts.example.com/functional-genomics/crispr_pooled_screen:fafdd1d"
    }
    withLabel: image_mageck_report_html {
        container = "artifacts.example.com/functional-genomics/mageck_report_html:c8c0373"
    }
    withName: 'MAGECK_(COUNT|MLE|TEST)' {
        container = "artifacts.example.com/functional-genomics/mageck_pfizer:f9993ee"
    }
    withName: MAGECK_COUNT {
        publishDir = [
            path: { "${params.outdir}/guide_counts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = [
            params.normalization_method ? "--norm-method ${params.normalization_method}" : '',
            params.control_guides ? "--control-sgrna ${params.control_guides}" : '',
            params.mageck_count_options ?: '',
        ].join(' ').trim()
    }
    withName: MAGECK_MLE {
        publishDir = [
            path: {
                analysis_dir = meta.representation ? "analysis_${meta.representation}X" : 'analysis'
                "${params.outdir}/${analysis_dir}/mageck_mle"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = [
            params.normalization_method ? "--norm-method ${params.normalization_method}" : '',
            params.control_guides ? "--control-sgrna ${params.control_guides}" : '',
            params.mageck_mle_options ?: '',
        ].join(' ').trim()
    }
    withName: MAGECK_TEST {
        publishDir = [
            path: {
                analysis_dir = meta.representation ? "analysis_${meta.representation}X" : 'analysis'
                contrast_suffix = meta.contrast ? ".${meta.contrast}" : ''
                "${params.outdir}/${analysis_dir}/mageck_test${contrast_suffix}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = [
            params.normalization_method ? "--norm-method ${params.normalization_method}" : '',
            params.control_guides ? "--control-sgrna ${params.control_guides}" : '',
            params.gene_test_threshold ? "--gene-test-fdr-threshold ${params.gene_test_threshold}" : '',
            params.gene_lfc_method ? "--gene-lfc-method ${params.gene_lfc_method}" : '',
            params.mageck_test_options ?: '',
        ].join(' ').trim()
        ext.args2 = { "-t" }
    }
    withName: GUIDE_COUNT_REP_MODULE {
        publishDir = [
            path: { "${params.outdir}/guide_counts" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                filename.equals('versions.yml') || filename.endsWith('map.yml') ? null : filename
            }
        ]
    }
    withName: GUIDE_COUNT_QC_MODULE {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                filename.equals('versions.yml') ? null :
                filename.contains('count') ? "guide_counts/${filename}" :
                "guide_qc/${filename}"
            }
        ]
        ext.args   = [
            params.normalization_method ? "--norm_method ${params.normalization_method}" : '',
        ].join(' ').trim()
    }
    withName: GUIDE_CORR_REP_TOTAL {
        publishDir = [
            path: { "${params.outdir}/guide_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MAGECK_REPORT_HTML {
        publishDir = [
            path: { "${params.outdir}/guide_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PARSE_METADATA_.*' {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.parsed-metadata.yaml') ? null : filename }
        ]
    }
    withName: 'VALIDATE_METADATA' {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PARSE_METADATA_ILLUMINA' {
        // Path to Illumina Sample Sheet mapping schema
        // NOTE This will be in the container, by virtue of Nextflow's
        // orchestration; but this relies on undocumented behaviour that
        // may change in the future.
        ext.args = "${projectDir}/assets/iss-schema.yaml"
    }
    withName: 'PARSE_METADATA_CSV' {
        // Path to raw CSV sample mapping schema
        // NOTE This will be in the container, by virtue of Nextflow's
        // orchestration; but this relies on undocumented behaviour that
        // may change in the future.
        ext.args = "${projectDir}/assets/csv-schema.yaml"
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
